.main {
  padding: 3em 3em;
  margin-top: 10%;
  margin-bottom: 2.5%;

  gap: 2rem;
  border: 1px solid rgb(187, 221, 243);
  border-radius: 2rem;

  background: linear-gradient(135deg, #dfeffa, #b7dfef);

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section {
  width: 70%;
}

.aside {
  width: 30%;
}

.ul {
  gap: 1.5em;
}

.tile {
  height: 100%;
  overflow: hidden;

  border-radius: 1em;
  border: 0.5px solid rgb(233, 233, 233);
  background: rgb(231, 231, 231);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.tile img {
  border-radius: inherit;
}
