.main {
  margin-top: 10%;
}

.main__border {
  padding: 2em 0;

  border-top: 1px solid rgb(190, 190, 190);
  border-bottom: 1px solid rgb(190, 190, 190);
}

.section {
  width: 70%;
  border: 1px solid wheat;
}

.aside {
  width: 30%;
}

.uList {
  display: flex;
  flex-direction: column;

  border: 5px solid black;
}
.project__tile {
  flex-grow: 1;
  height: 100%;
}
